<%#
 Copyright 2010 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<%+header%>

<%
local fs   = require "nixio.fs"
local has_ping6 = fs.access("/bin/ping6") or fs.access("/usr/bin/ping6")
local has_traceroute6 = fs.access("/bin/traceroute6") or fs.access("/usr/bin/traceroute6")

local dns_host = luci.config.diag and luci.config.diag.dns or "dev.openwrt.org"
local ping_host = luci.config.diag and luci.config.diag.ping or "dev.openwrt.org"
local route_host = luci.config.diag and luci.config.diag.route or "dev.openwrt.org"
%>

<script type="text/javascript">//<![CDATA[
	function update_status(field, proto)
	{
		var tool = field.name;
		var addr = field.value;
		var protocol = proto ? "6" : "";

		var output = document.getElementById('diag-' + field.name + '-output');

		var stxhr = new XHR();

		if (output)
		{
			output.innerHTML =
				'<img src="<%=resource%>/icons/loading.gif" alt="<%:Loading%>" style="vertical-align:middle" /> ' +
				'<%:Waiting for command to complete...%>'
			;

			stxhr.post('<%=url('admin/network')%>/diag_' + tool + protocol + '/' + addr, { token: '<%=token%>' },
				function(x)
				{
					if (x.responseText)
					{
						output.innerHTML = String.format('<pre>%h</pre>', x.responseText);
					}
					else
					{
						output.innerHTML = '<span class="error"><%:Bad address specified!%></span>';
					}
				}
			);
		}
	}
//]]></script>

<form method="post" action="<%=url('admin/network/diagnostics')%>">
	<div class="cbi-map">
		<h2 name="content"><%:Diagnostics%></h2>

		<div class="cbi-section">
			<legend><%:Ping%></legend>
			<div class="cbi-section-node">
				<div class="cbi-value">
					<label class="cbi-value-title"><%:Hostname%></label>
					<div class="cbi-value-field"><div id>
						<input class="cbi-input-text" type="text" value="<%=ping_host%>" name="ping" /><br />
					</div></div>
				</div>
				<% if has_ping6 then %>
				<div class="cbi-value">
					<label class="cbi-value-title"><%:Protocol%></label>
					<div class="cbi-value-field"><div id>
						<select name="ping_proto">
							<option value="" selected="selected"><%:IPv4%></option>
							<option value="6"><%:IPv6%></option>
						</select>
					</div></div>
				</div>
				<% end %>
				<div class="cbi-value">
					<label class="cbi-value-title"></label>
					<div class="cbi-value-field"><div id>
						<% if has_ping6 then %>
						<input type="button" value="<%:Ping%>" class="cbi-button cbi-button-apply" onclick="update_status(this.form.ping, this.form.ping_proto.selectedIndex)" />
						<% else %>
						<input type="button" value="<%:Ping%>" class="cbi-button cbi-button-apply" onclick="update_status(this.form.ping)" />
						<% end %>
					</div></div>
				</div>
				<div class="cbi-value">
					<label class="cbi-value-title"></label>
					<div class="cbi-value-field"><div id>
						<span class="net-diag-output" id="diag-ping-output"></span>
					</div></div>
				</div>
			</div>
		</div>

		<div class="cbi-section">
			<legend><%:Traceroute%></legend>
			<div class="cbi-section-node">
				<div class="cbi-value">
					<label class="cbi-value-title"><%:Hostname%></label>
					<div class="cbi-value-field"><div id="diag-traceroute-hostname">
						<input class="cbi-input-text" type="text" value="<%=route_host%>" name="traceroute" /><br />
					</div></div>
				</div>
				<% if has_traceroute6 then %>
				<div class="cbi-value">
					<label class="cbi-value-title"><%:Protocol%></label>
					<div class="cbi-value-field"><div id="diag-traceroute-protocol">
						<select name="traceroute_proto">
							<option value="" selected="selected"><%:IPv4%></option>
							<option value="6"><%:IPv6%></option>
						</select>
					</div></div>
				</div>
				<% end %>
				<div class="cbi-value">
					<label class="cbi-value-title"></label>
					<div class="cbi-value-field"><div id="diag-traceroute-execute">
						<% if has_traceroute6 then %>
						<input type="button" value="<%:Traceroute%>" class="cbi-button cbi-button-apply" onclick="update_status(this.form.traceroute, this.form.traceroute_proto.selectedIndex)" />
						<% else %>
						<input type="button" value="<%:Traceroute%>" class="cbi-button cbi-button-apply" onclick="update_status(this.form.traceroute)" />
						<% end %>
					</div></div>
				</div>
				<div class="cbi-value">
					<label class="cbi-value-title"></label>
					<div class="cbi-value-field"><div id>
						<span class="net-diag-output" id="diag-traceroute-output"></span>
					</div></div>
				</div>
			</div>
		</div>

		<div class="cbi-section">
			<legend><%:Nslookup%></legend>
			<div class="cbi-section-node">
				<div class="cbi-value">
					<label class="cbi-value-title"><%:Hostname%></label>
					<div class="cbi-value-field"><div id>
						<input class="cbi-input-text" type="text" value="<%=dns_host%>" name="nslookup" /><br />
					</div></div>
				</div>
				<div class="cbi-value">
					<label class="cbi-value-title"></label>
					<div class="cbi-value-field"><div id>
						<input type="button" value="<%:Nslookup%>" class="cbi-button cbi-button-apply" onclick="update_status(this.form.nslookup)" />
					</div></div>
				</div>
				<div class="cbi-value">
					<label class="cbi-value-title"></label>
					<div class="cbi-value-field"><div id>
						<span class="net-diag-output" id="diag-nslookup-output"></span>
					</div></div>
				</div>
			</div>
		</div>
	</div>
</form>

<%+footer%>
